@import './const.style.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family-regular);
  font-size: var(--font-size-regular);
  background-color: var(--background-color-hard-dark);
  color: var(--white-color);
}

body {
  margin: 0 auto;
  max-width: 672px;
}

h1,
h2 {
  margin: 0 0 20px;
}
