---
import Head from '../components/Head.astro'
import Header from '../components/molecules/Header.astro'
---

<!DOCTYPE html>
<html lang='es'>
  <Head
    title='Portafolio web profesional de Fabian'
    description='Este es el portafolio de fabian, bienvenidos'
  />

  <body>
    <Header client:load />
  </body>
</html>
