---
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang='es'>
  <head>
    <Head
      title='Portafolio web profesional de Fabian'
      description='Este es el portafolio de fabian, bienvenidos'
    />
  </head>

  <body>
    <Header />
  </body>
</html>
