---
import Button from '../components/Button.astro'
import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
---

<!DOCTYPE html>
<html lang='es'>
  <Head
    title='Portafolio web profesional de Fabian'
    description='Este es el portafolio de fabian, bienvenidos'
  />

  <body>
    <Header />
    <main>
      <div class='presentation_container'>
        <h1 class='presentation_title'>Hola 🤘, soy <h>Fabian Molina</h></h1>
        <p class='presentation_p'>
          Desarrollador de Software & Ingeniero Geologo. Este es mi
          blog/portafolio donde trato temas diversos enfocados a Desarrollo Web,
          Tecnología.
        </p>

        <div class='presentation_social'>
          <Button content='Contactame =>' />

          <a
            class='presentation_social-icon'
            href='https://github.com/fabianmolinab'
            ><i class='fi-xnsuxl-github fi-size-xl' style='color:#eceff4;'></i>
          </a>

          <a
            class='presentation_social-icon'
            href='https://www.linkedin.com/in/fabianmolinab/'
            ><i class='fi-snsuxl-linkedin fi-size-xl' style='color:#eceff4'></i>
          </a>
        </div>
      </div>
    </main>

    <style>
      .presentation_container {
        margin-top: 60px;
      }

      .presentation_title {
        font-size: 30px;
        margin: 0 0 20px 0;
        padding: 0;
      }

      .presentation_title h {
        color: var(--blue-dark-color);
      }

      .presentation_p {
        color: #d8dee9;
        font-size: 19px;
        line-height: 1.7rem;
      }

      .presentation_social {
        margin-top: 20px;
      }

      .presentation_social-icon {
        cursor: pointer;
      }
    </style>
  </body>
</html>
