---
interface Props {
  content: string
}

const { content } = Astro.props as Props
---

<button class='button'>{content}</button>

<style>
  @import url('../styles/const.style.css');

  .button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--blue-dark-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    padding: 4px 5px;
    height: 35px;
    margin-right: 5px;
  }

  .button:hover {
    background-color: var(--blue-light-color);
    transition: 0.3s;
  }
</style>
