---
---

<header class='header'>
  <nav class='navbar'>
    <ul class='navbar_list'>
      <li><a href='/'>Inicio</a></li>
      <li><a href='blog'>Blog</a></li>
      <li><a href='sobremi'>Mas sobre mí</a></li>
      <li><a href='filosofia'>Filosofia</a></li>
    </ul>
  </nav>
</header>

<script is:inline>
  const activePage = window.location.pathname
  const navLinks = document.querySelectorAll('ul a')

  navLinks.forEach(link => {
    link.classList.remove('active')
    if (link.pathname === `${activePage}`) {
      link.classList.add('active')
    }
  })
</script>

<style>
  @import url('../styles/const.style.css');

  .header {
    position: fixed;
    height: 91px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 102;
    backdrop-filter: saturate(120%) blur(20px);
  }

  .navbar {
    padding: 30px 10px;
    margin: 0 auto;
    width: 672px;
  }

  .navbar_list {
    align-items: center;
    color: var(--white-color);
    display: flex;
    font-weight: 600;
    font-size: 19px;
    justify-content: space-between;
    list-style: none;
    height: 2rem;
  }

  .navbar_list li {
    border-radius: 6px;
    padding: 4px;
  }

  .navbar_list li:hover {
    background-color: var(--blue-dark-color);
    border-radius: 6px;
    transition: 0.3s;
  }

  .navbar_list li a:hover {
    color: var(--background-color-dark);
  }

  a:is(:link, :active, :visited) {
    color: var(--white-color);
    text-decoration: none;
  }

  a:is(:link, :active, :visited).active {
    color: var(--blue-dark-color);
  }

  /* Mobile Style*/
  @media screen and (min-width: 320px) and (max-width: 425px) {
    .navbar {
      margin: 20px 15px 5px 15px;
      max-width: 100%;
      height: 2rem;
    }

    .navbar_list {
      font-size: 17px;
      justify-content: space-between;
    }
  }
</style>