---
import Card from './Card.astro'
---

<section class='projects-seccion'>
  <h2 class='projects_title'>Proyectos</h2>
  <Card
    title='News App'
    description='Aplicación Web de noticias mas actuales desarrollada con React.js, Style Componentes'
    urlImg='https://images.unsplash.com/photo-1599420186946-7b6fb4e297f0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'
  />
</section>
<style>
  .projects-seccion {
    margin-top: 80px;
  }

  .projects_title {
    margin-bottom: 55px;
  }
</style>
