---
interface Props {
  content: string
}

const { content } = Astro.props as Props
---

<div>
  <a href='https://www.linkedin.com/in/fabianmolinab/' target='_blank'
    ><strong class='strong'>{content}</strong>
  </a>
</div>
<style>
  @import url('../styles/const.style.css');

  a {
    height: 40px;
    color: transparent;
  }

  .strong {
    background-color: var(--blue-dark-color);
    border-radius: 6px;
    cursor: pointer;
    color: var(--background-color-dark);
    font-size: 1.15rem;
    font-weight: 600;
    padding: 4px 5px;
    margin-right: 10px;
  }

  .strong:hover {
    background-color: var(--violet-color);
    transition: 0.3s;
  }
</style>
