---
// Component the paragraph normal
---

<div class='paragraph'>
  <slot />
</div>

<style>
  @import url('../../styles/const.style.css');

  .paragraph {
    font-size: var(--font-size-regular);
    line-height: 1.8rem;
  }

  @media screen and (min-width: 360px) and (max-width: 500px) {
    .paragraph {
      font-size: var(--font-size-regular-mobile);
      line-height: 1.6rem;
    }
  }
</style>
