---
import PostPreview from '../molecules/PostPreview.astro'

const postsBlog = await Astro.glob('../../pages/blog/posts/*.md')

if (postsBlog.length >= 5) {
  postsBlog.splice(4, 1)
}
---

<div class='post_title'>
  <h2>Ultimos Posts</h2>
  <a href='/blog'>Ver todos</a>
</div>

<section class="post_seccion">
  {postsBlog.map((post) => <PostPreview post={post} />)}
</section>

<style>
  .post_title {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
  }
  .post_title h2 {
    margin: 0;
  }
  .post_title a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.9em;
  }
  .post_seccion {
    margin-bottom: 75px;
  }

  @media screen and (min-width: 360px) and (max-width: 500px) {
    .post_title h2 {
      font-family: var(--font-family-title); 
      font-size: var(--font-size-title-mobile);
    } 

    .post_title a {
      font-size: 18px;
    }
  }
</style>
