---
import Card from '../molecules/Card.astro'
---

<section class='projects-seccion'>
  <h2 class='projects_title'>Proyectos</h2>

  <Card
    urlImg='https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'
    altImg='Cat Nice'
    title='Me gusta este gato'
    urlGit='www.github.com/fabianmolinab'
    urlLink='www.google.com'
    urlName='Google'
    description='Este es uno de los mejores proyectos que he realizado con tecnologias como React.js, Express'
  />
  <Card
    urlImg='https://images.unsplash.com/photo-1574144611937-0df059b5ef3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'
    altImg='Cat Nice'
    title='Este es el mejor proyecto que he realizado'
    urlGit='www.github.com/fabianmolinab'
    urlLink='www.google.com'
    urlName='Google'
    description='El gato me esta sonrriendo'
  />
</section>

<style>
  .projects-seccion {
    margin-top: 80px;
  }

  .projects_title {
    margin-bottom: 55px;
  }
</style>
